<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="PATIENT_TBL" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=E:\rk\App_Data\DENTAL_SERVER.mdf;Integrated Security=True;User Instance=True" />
  
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
       
      </assemblies>
    </compilation>
  </system.web>
</configuration>